# 3 - Million Russian Troll Tweets
- James M Irving, Ph.D.
- Mod 4 Project
- Flatiron Full Time Data Science Bootcamp - 02/2019 Cohort

## GOAL: 

- *IF I can get a control dataset* of non-Troll tweets from same time period with similar hashtags:*
    - Use NLP to predict of a tweet is from an authentic user or a Russian troll.
- *If no control tweets to compare to*
    - Use NLP to predict how many retweets a Troll tweet will get.
    - Consider both raw # of retweets, as well as a normalized # of retweets/# of followers.
        - The latter would give better indication of language's effect on propagation.

## Dataset Features:
- Kaggle Dataset published by FiveThirtyEight
    - https://www.kaggle.com/fivethirtyeight/russian-troll-tweets/downloads/russian-troll-tweets.zip/2
<br>    
- Data is split into 9 .csv files
    - 'IRAhandle_tweets_1.csv' to 9

- **Variables:**
    - ~~`external_author_id` | An author account ID from Twitter~~
    - `author` | The handle sending the tweet
    - `content` | The text of the tweet
    - `region` | A region classification, as [determined by Social Studio](https://help.salesforce.com/articleView?   id=000199367&type=1)
    - `language` | The language of the tweet
    - `publish_date` | The date and time the tweet was sent
    - ~~`harvested_date` | The date and time the tweet was collected by Social Studio~~
    - `following` | The number of accounts the handle was following at the time of the tweet
    - `followers` | The number of followers the handle had at the time of the tweet
    - `updates` | The number of “update actions” on the account that authored the tweet, including tweets, retweets and likes
    - `post_type` | Indicates if the tweet was a retweet or a quote-tweet *[Whats a quote-tweet?]*
    - `account_type` | Specific account theme, as coded by Linvill and Warren
    - `retweet` | A binary indicator of whether or not the tweet is a retweet [?]
    - `account_category` | General account theme, as coded by Linvill and Warren
    - `new_june_2018` | A binary indicator of whether the handle was newly listed in June 2018
    
### **Classification of account_type**
Taken from: [rcmediafreedom.eu summary](https://www.rcmediafreedom.eu/Publications/Academic-sources/Troll-Factories-The-Internet-Research-Agency-and-State-Sponsored-Agenda-Building)

>- **They identified five categories of IRA-associated Twitter accounts, each with unique patterns of behaviors:**
    - **Right Troll**, spreading nativist and right-leaning populist messages. It supported the candidacy and Presidency of Donald Trump and denigrated the Democratic Party. It often sent divisive messages about mainstream and moderate Republicans.
    - **Left Troll**, sending socially liberal messages and discussing gender, sexual, religious, and -especially- racial identity. Many tweets seemed intentionally divisive, attacking mainstream Democratic politicians, particularly Hillary Clinton, while supporting Bernie Sanders prior to the election.
    - **News Feed**, overwhelmingly presenting themselves as U.S. local news aggregators, linking to legitimate regional news sources and tweeting about issues of local interest.
    - **Hashtag Gamer**, dedicated almost exclusively to playing hashtag games.
    - **Fearmonger**: spreading a hoax about poisoned turkeys near the 2015 Thanksgiving holiday.

>The different types of account were used differently and their efforts were conducted systematically, with different allocation when faced with different political circumstances or shifting goals. E.g.: there was a spike of activity by right and left troll accounts before the publication of John Podesta's emails by WikiLeaks. According to the authors, this activity can be characterised as “industrialized political warfare”.

___

In [38]:
import bs_ds as bs
from bs_ds.imports import *

In [39]:
import os
root_dir = 'russian-troll-tweets/'
# os.listdir('russian-troll-tweets/')
filelist = [os.path.join(root_dir,file) for file in os.listdir(root_dir) if file.endswith('.csv')]
filelist

['russian-troll-tweets/IRAhandle_tweets_1.csv',
 'russian-troll-tweets/IRAhandle_tweets_2.csv',
 'russian-troll-tweets/IRAhandle_tweets_3.csv',
 'russian-troll-tweets/IRAhandle_tweets_4.csv',
 'russian-troll-tweets/IRAhandle_tweets_5.csv',
 'russian-troll-tweets/IRAhandle_tweets_6.csv',
 'russian-troll-tweets/IRAhandle_tweets_7.csv',
 'russian-troll-tweets/IRAhandle_tweets_8.csv',
 'russian-troll-tweets/IRAhandle_tweets_9.csv']

In [40]:
# Previewing dataset
df = pd.read_csv(filelist[0])
df.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll

## Merging full dataset

In [43]:
# Vertically concatenate 
df = pd.DataFrame()
for file in filelist:
    df_new = pd.read_csv(file)
    df = pd.concat([df,df_new], axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2973371 entries, 0 to 37554
Data columns (total 15 columns):
external_author_id    float64
author                object
content               object
region                object
language              object
publish_date          object
harvested_date        object
following             int64
followers             int64
updates               int64
post_type             object
account_type          object
new_june_2018         int64
retweet               int64
account_category      object
dtypes: float64(1), int64(5), object(9)
memory usage: 363.0+ MB

In [44]:
df.head(2)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll

# SCRUB / EDA

In [45]:
from pandas_profiling import ProfileReport
ProfileReport(df)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2973371 entries, 0 to 37554
Data columns (total 15 columns):
external_author_id    float64
author                object
content               object
region                object
language              object
publish_date          object
harvested_date        object
following             int64
followers             int64
updates               int64
post_type             object
account_type          object
new_june_2018         int64
retweet               int64
account_category      object
dtypes: float64(1), int64(5), object(9)
memory usage: 363.0+ MB

## Observations from Inspection / Pandas_Profiling ProfileReport

- **Language to Analyze is in `Content`:**
    - Actual tweet contents. 
 
- **Classification/Analysis Thoughts:**
    - **Variables should be considered in 2 ways:**
        - First, the tweet contents. 
            - Use NLP to engineer features to feed into deep learning.
                - Sentiment analysis, named-entity frequency/types, most-similar words. 
        - Second, the tweet metadata. 
        
### Thoughts on specific features:
- `language`
    - There are 56 unique languages. 
    - 2.4 million are English, 670 K are in Russian, etc.
    - Note: for metadata, analyzing if an account posts in more than 1 language may be a good predictor. 
- `followers`/`following`
    - **following** could be informative if goal is to predict if its a troll tweet.
    - **followers** should be used (with retweets) if predicting retweets based on content. 

### Questions to answer:
- [ ] Why are so many post_types missing? (55%?)
- [ ] How many tweets were written by a russian troll account?
    
### Scrubing to Perform
- **Recast Columns:**
    - [ ] `publish_date` to datetime. 
- **Columns to Discard:**
    - [ ] `harvested_date` (we care about publish_date, if anything, time-wise)
    - [ ] `language`: remove all non-english tweets and drop column
    - [ ] `new_june_2018`

In [47]:
# Drop non-english rows
df = df.loc[df.language=='English']
# df.info()

In [48]:
cols_to_drop = ['harvested_date','new_june_2018']#: remove all non-english tweets and drop column

for col in cols_to_drop:
    df.drop(col, axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2128963 entries, 0 to 37431
Data columns (total 13 columns):
external_author_id    float64
author                object
content               object
region                object
language              object
publish_date          object
following             int64
followers             int64
updates               int64
post_type             object
account_type          object
retweet               int64
account_category      object
dtypes: float64(1), int64(4), object(8)
memory usage: 227.4+ MB

___
# Save/Load and Resume

In [ ]:
save_or_load = input('Would you like to "save" or "load" dataframe?\n("save","load","no"):')

if save_or_load.lower()=='save':
    # Save csv
    df.to_csv('russian_troll_tweets_eng_only_date_pub_index.csv')
    
if save_or_load.lower()=='load':
    import bs_ds as bs
    from bs_ds.imports import *
    # Load csva
    df = pd.read_csv('russian_troll_tweets_eng_only_date_pub_index.csv')

### Recasting Publish date as datetime column (date_published)

In [ ]:
# Recast date_published as datetime and make index
df['date_published'] = pd.to_datetime(df['publish_date'])
df.set_index('date_published', inplace=True)
print('Changed index to datetime "date_published".')

In [ ]:
print(df.columns)

In [10]:
# Convert publish_date to datetime
# df['date_published'] = pd.to_datetime(df.publish_date)
print(np.max(df.date_published), np.min(df.date_published))

2018-05-30 20:58:00 2012-02-06 20:24:00

In [17]:
df.head()

,author,content,region,language,publish_date,following,followers,updates,post_type,account_type,retweet,account_category
date_published,,,,,,,,,,,,
2017-10-01 19:58:00,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,1052,9636,253,NaN,Right,0,RightTroll
2017-10-01 22:43:00,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,1054,9637,254,NaN,Right,0,RightTroll
2017-10-01 22:50:00,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,1054,9637,255,RETWEET,Right,1,RightTroll
2017-10-01 23:52:00,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,1062,9642,256,NaN,Right,0,RightTroll
2017-10-01 02:13:00,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,1050,9645,246,RETWEET,Right,1,RightTroll

In [18]:
# Drop un-needed columns
cols_to_drop = ['publish_date','language']
for col in cols_to_drop:

    df.drop(col, axis=1, inplace=True)
    print(f'Dropped {col}.')


# Recast categorical columns
cols_to_cats = ['region','post_type','account_type','account_category']
for col in cols_to_cats:

    df[col] = df[col].astype('category')
    print(f'Converted {col} to category.')


# Drop problematic nan in 'contet'
df.dropna(subset=['content'],inplace=True) # Dropping the 1 null value 

df.head()

Dropped publish_date.
Dropped language.
Converted region to category.
Converted post_type to category.
Converted account_type to category.
Converted account_category to category.

,author,content,region,following,followers,updates,post_type,account_type,retweet,account_category
date_published,,,,,,,,,,
2017-10-01 19:58:00,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,1052,9636,253,NaN,Right,0,RightTroll
2017-10-01 22:43:00,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,1054,9637,254,NaN,Right,0,RightTroll
2017-10-01 22:50:00,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,1054,9637,255,RETWEET,Right,1,RightTroll
2017-10-01 23:52:00,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,1062,9642,256,NaN,Right,0,RightTroll
2017-10-01 02:13:00,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,1050,9645,246,RETWEET,Right,1,RightTroll

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2420533 entries, 2017-10-01 19:58:00 to 2015-08-13 11:19:00
Data columns (total 10 columns):
author              object
content             object
region              category
following           int64
followers           int64
updates             int64
post_type           category
account_type        category
retweet             int64
account_category    category
dtypes: category(4), int64(4), object(2)
memory usage: 138.5+ MB

# Thoughts on My Search Strategy

**My Twitter API Link:**<br>
https://api.twitter.com/1.1/tweets/search/fullarchive/search.json


**Inspect Data to get search parameters:**
- [X] Get the date range for the English tweets in the original dataset<br>
    - **Tweet date range:**
        - **2012-02-06** to **2018-05-30**

- [X] Get a list of the hash tags (and their frequencies from the dataframe

**Determine most feasible and balanced well of extracting control tweets**
- [ ] How many of each tag / @'s should I try to exctract?
- [ ] what are the limitations of the API that will be a road block to getting as many tweets as desired?

In [20]:
# Inspect Data to get search parameters:
print(f'Tweet date range:\n {min(df.index)} to {max(df.index)}')
print(f'\nTotal days: {max(df.index)-min(df.index)}')

Tweet date range:
 2012-02-06 20:24:00 to 2018-05-30 20:58:00

Total days: 2305 days 00:34:00

## Determining Hashtags & @'s to search for

- Use regular expressions to extract the hashtags #words and @handles.
- Use the top X many tags as search terms for twitter API
    - There are _1,678,170 unique hashtags_ and _1,165,744 unique @'s_

### def get_tags_ats

In [21]:
# Define get_tags_ats to accept a list of text entries and return all found tags and ats as 2 series/lists
def get_tags_ats(text_to_search,exp_tag = r'(#\w*)',exp_at = r'(@\w*)', output='series',show_counts=False):
    """Accepts a list of text entries to search, and a regex for tags, and a regex for @'s.
    Joins all entries in the list of text and then re.findsall() for both expressions.
    Returns a series of found_tags and a series of found_ats.'"""
    import re
    
    # Create a single long joined-list of strings
    text_to_search_combined = ' '.join(text_to_search)
        
    # print(len(text_to_search_combined), len(text_to_search_list))
    found_tags = re.findall(exp_tag, text_to_search_combined)
    found_ats = re.findall(exp_at, text_to_search_combined)
    
    if output.lower() == 'series':
        found_tags = pd.Series(found_tags, name='tags')
        found_ats = pd.Series(found_ats, name='ats')
        
        if show_counts==True:
            print(f'\t{found_tags.name}:\n{tweet_tags.value_counts()} \n\n\t{found_ats.name}:\n{tweet_ats.value_counts()}')
                
    if (output.lower() != 'series') & (show_counts==True):
        raise Exception('output must be set to "series" in order to show_counts')
                       
    return found_tags, found_ats

In [22]:
# Need to get a list of hash tags.
text_to_search_list = []

for i in range(len(df)):    
    tweet_contents =df['content'].iloc[i]
    text_to_search_list.append(tweet_contents)

text_to_search_list[:2]

['"We have a sitting Democrat US Senator on trial for corruption and you\'ve barely heard a peep from the mainstream media." ~ @nedryun https://t.co/gh6g0D1oiC',
 'Marshawn Lynch arrives to game in anti-Trump shirt. Judging by his sagging pants the shirt should say Lynch vs. belt https://t.co/mLH1i30LZZ']

In [23]:
# Get all tweet tags and @'s from text_to_search_list
tweet_tags, tweet_ats = get_tags_ats(text_to_search_list, show_counts=False)

print(f"There were {len(tweet_tags)} unique hashtags and {len(tweet_ats)} unique @'s\n")

# Create a dataframe with top_tags
df_top_tags = pd.DataFrame(tweet_tags.value_counts()[:40])#,'\n')
df_top_tags['% Total'] = (df_top_tags['tags']/len(tweet_tags)*100)

# Create a dataframe with top_ats
df_top_ats = pd.DataFrame(tweet_ats.value_counts()[:40])
df_top_ats['% Total'] = (df_top_ats['ats']/len(tweet_ats)*100)

# Display top tags and ats
# bs.display_side_by_side(df_top_tags,df_top_ats)

There were 1678170 unique hashtags and 1165744 unique @'s

### Notes on Top Tags and Ats:

In [24]:
# Choose list of top tags to use in search
list_top_30_tags = df_top_tags.index[:30]
list_top_30_tags

Index(['#news', '#sports', '#politics', '#world', '#local', '#MAGA',
       '#BlackLivesMatter', '#TopNews', '#tcot', '#PJNET', '#health',
       '#business', '#tech', '#entertainment', '#top', '#Cleveland', '#crime',
       '#TopVideo', '#Trump', '#NowPlaying', '#amb', '#environment', '#ISIS',
       '#breaking', '#mar', '#WakeUpAmerica', '#Miami', '#2A', '#GOPDebate',
       '#topl'],
      dtype='object')

In [25]:
# Choose list of top tags to use in search
list_top_30_ats = df_top_ats.index[:30]
list_top_30_ats

Index(['@realDonaldTrump', '@midnight', '@POTUS', '@HillaryClinton',
       '@YouTube', '@', '@CNN', '@FoxNews', '@TalibKweli', '@WarfareWW',
       '@GiselleEvns', '@WorldOfHashtags', '@deray', '@nytimes', '@josephjett',
       '@CNNPolitics', '@GOP', '@seanhannity', '@BreitbartNews',
       '@BarackObama', '@HashtagRoundup', '@tedcruz', '@washingtonpost',
       '@docrocktex26', '@ShaunKing', '@BernieSanders', '@VanJones68',
       '@mashable', '@Jenn_Abrams', '@SpeakerRyan'],
      dtype='object')

- The most common tags include some very generic categories that may not be helpful in extracting control tweets.
    - ~~Exclude: '#news','#sports','#politics','#world','#local','#TopNews','#health','#business','#tech',~~
    - On second thought, this is entirely appropriate, since these tags would be what appears in the wild.
    - Additionally, using a larger number of them (like 30, starts to provide more targeted hashtags.<br><br>
  
- **The most common @'s are much more revealing and helpful in narrowing the focus of the results.**

___

# Using the Twitter Search API to Extract Control Tweets

- [x] Required API key are saved in the Main folder in which this repo is saved. 
- [x] Check the [Premium account docs for search syntax](https://developer.twitter.com/en/docs/tweets/search/guides/premium-operators.html)
- [x] [Check this article for using Tweepy for most efficient twitter api extraction](https://bhaskarvk.github.io/2015/01/how-to-use-twitters-search-rest-api-most-effectively./)

**LINK TO PREMIUM SEARCH API GUIDE**<br>
https://developer.twitter.com/en/docs/tweets/search/api-reference/premium-search

**Available search operators**
- Premium search API supports rules with up to 1,024 characters. The Search Tweets APIs support the premium operators listed below. See our Premium operators guide for more details.

- The base URI for the premium search API is https://api.twitter.com/1.1/tweets/search/.

**Matching on Tweet contents:**
- keyword , "quoted phrase" , # , @, url , lang


## Using tweepy to access twitter API

- [Helpful tutorial on _most efficient_ way to access twitter API](https://bhaskarvk.github.io/2015/01/how-to-use-twitters-search-rest-api-most-effectively./)

### def connect_twitter_api, def search_twitter_api

In [26]:
# Initialzie Tweepy with Authorization Keys    
def connect_twitter_api(api_key, api_secret_key):
    import tweepy, sys
    auth = tweepy.AppAuthHandler(api_key, api_secret_key)
    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

    if (not api):
        print("Can't authenticate.")
        sys.exit(-1)
    return api

In [27]:
def search_twitter_api(api_object, searchQuery, maxTweets, fName, tweetsPerQry=100, max_id=0, sinceId=None):
    """Take an authenticated tweepy api_object, a search queary, max# of tweets to retreive, a desintation filename.
    Uses tweept.api.search for the searchQuery until maxTweets is reached, saved harvest tweets to fName."""
    import sys, jsonpickle, os
    api = api_object
    tweetCount = 0
    print(f'Downloading max{maxTweets} for {searchQuery}...')
    with open(fName, 'a+') as f:
        while tweetCount < maxTweets:

            try:
                if (max_id <=0):
                    if (not sinceId):
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry, tweet_mode='extended')
                    else:
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry, since_id=sinceId, tweet_mode='extended')

                else:
                    if (not sinceId):
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry, max_id=str(max_id-1), tweet_mode='extended')
                    else:
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry, max_id=str(max_id-1),since_id=sinceId, tweet_mode='extended')

                if not new_tweets:
                    print('No more tweets found')
                    break

                for tweet in new_tweets:
                    f.write(jsonpickle.encode(tweet._json, unpicklable=False)+'\n')

                tweetCount+=len(new_tweets)

                print("Downloaded {0} tweets".format(tweetCount))
                max_id = new_tweets[-1].id

            except tweepy.TweepError as e:
                # Just exit if any error
                print("some error : " + str(e))
                break
    print ("Downloaded {0} tweets, Saved to {1}\n".format(tweetCount, fName))

## Connect to Twitter and Harvest Tweets

### Making lists of tags and ats to query

In [28]:
# df_top_ats.ats[:20], df_top_tags.tags[:20]

In [29]:
# Figure out the # of each @ and each # that i want ot query, then make a query_dict to feed into the cell below
query_ats = tuple(zip(df_top_ats.index, df_top_ats['ats']))
query_tags = tuple(zip(df_top_tags.index, df_top_tags['tags']))

# Calculate how many tweets are represented by the top 30 tags and top 30 @'s 
sum_top_tweet_tags = df_top_tags['tags'].sum()
sum_top_tweet_ats = df_top_ats['ats'].sum()
print(f"Sum of top tags = {sum_top_tweet_tags}\nSum of top @'s = {sum_top_tweet_ats}")

Sum of top tags = 525668
Sum of top @'s = 80782

### Connecting to twitter api and searching for lists of queries

In [30]:
# Import API keys from text files (so not displayed here and not in repo)
with open('../consumer_API_key.txt','r') as f:
    api_key =  f.read()
with open('../consumer_API_secret_key.txt','r') as f:
    api_secret_key  = f.read()

In [31]:
api = connect_twitter_api(api_key,api_secret_key)

In [32]:
# Extract tweets for top @'s, while matching the distribution of top @'s

final_query_list = query_ats[:3]
filename = 'tweets_for_top3_ats.txt'

for q in final_query_list:
    searchQuery = q[0]
    maxTweets = q[1]
    print(f'Query={searchQuery}, max={maxTweets}')
    search_twitter_api(api, searchQuery, maxTweets, fName=filename)

Query=@realDonaldTrump, max=14999
Downloading max14999 for @realDonaldTrump...
Downloaded 76 tweets
Downloaded 148 tweets
Downloaded 217 tweets
Downloaded 287 tweets
Downloaded 363 tweets
Downloaded 438 tweets
Downloaded 510 tweets
Downloaded 587 tweets
Downloaded 668 tweets
Downloaded 740 tweets
Downloaded 822 tweets
Downloaded 892 tweets
Downloaded 968 tweets
Downloaded 1038 tweets
Downloaded 1104 tweets
Downloaded 1178 tweets
Downloaded 1261 tweets
Downloaded 1333 tweets
Downloaded 1407 tweets
Downloaded 1481 tweets
Downloaded 1552 tweets
Downloaded 1619 tweets
Downloaded 1692 tweets
Downloaded 1776 tweets
Downloaded 1849 tweets
Downloaded 1926 tweets
Downloaded 1999 tweets
Downloaded 2071 tweets
Downloaded 2143 tweets
Downloaded 2210 tweets
Downloaded 2286 tweets
Downloaded 2362 tweets
Downloaded 2430 tweets
Downloaded 2506 tweets
Downloaded 2589 tweets
Downloaded 2656 tweets
Downloaded 2730 tweets
Downloaded 2800 tweets
Downloaded 2875 tweets
Downloaded 2951 tweets
Downloaded 3021 tweets
Downloaded 3088 tweets
Downloaded 3165 tweets
Downloaded 3244 tweets
Downloaded 3309 tweets
Downloaded 3388 tweets
Downloaded 3465 tweets
Downloaded 3535 tweets
Downloaded 3603 tweets
Downloaded 3681 tweets
Downloaded 3759 tweets
Downloaded 3838 tweets
Downloaded 3919 tweets
Downloaded 3986 tweets
Downloaded 4071 tweets
Downloaded 4153 tweets
Downloaded 4228 tweets
Downloaded 4303 tweets
Downloaded 4386 tweets
Downloaded 4460 tweets
Downloaded 4538 tweets
Downloaded 4611 tweets
Downloaded 4694 tweets
Downloaded 4763 tweets
Downloaded 4839 tweets
Downloaded 4917 tweets
Downloaded 4992 tweets
Downloaded 5067 tweets
Downloaded 5143 tweets
Downloaded 5223 tweets
Downloaded 5299 tweets
Downloaded 5375 tweets
Downloaded 5457 tweets
Downloaded 5532 tweets
Downloaded 5604 tweets
Downloaded 5681 tweets
Downloaded 5757 tweets
Downloaded 5828 tweets
Downloaded 5898 tweets
Downloaded 5976 tweets
Downloaded 6054 tweets
Downloaded 6125 tweets
Downloaded 6204 tweets
Downloaded 6283 tweets
Downloaded 6361 tweets
Downloaded 6433 tweets
Downloaded 6498 tweets
Downloaded 6572 tweets
Downloaded 6656 tweets
Downloaded 6723 tweets
Downloaded 6801 tweets
Downloaded 6889 tweets
Downloaded 6967 tweets
Downloaded 7043 tweets
Downloaded 7115 tweets
Downloaded 7194 tweets
Downloaded 7269 tweets
Downloaded 7345 tweets
Downloaded 7430 tweets
Downloaded 7503 tweets
Downloaded 7575 tweets
Downloaded 7656 tweets
Downloaded 7725 tweets
Downloaded 7799 tweets
Downloaded 7881 tweets
Downloaded 7957 tweets
Downloaded 8042 tweets
Downloaded 8130 tweets
Downloaded 8200 tweets
Downloaded 8276 tweets
Downloaded 8349 tweets
Downloaded 8424 tweets
Downloaded 8504 tweets
Downloaded 8586 tweets
Downloaded 8672 tweets
Downloaded 8750 tweets
Downloaded 8831 tweets
Downloaded 8908 tweets
Downloaded 8990 tweets
Downloaded 9077 tweets
Downloaded 9167 tweets
Downloaded 9239 tweets
Downloaded 9319 tweets
Downloaded 9397 tweets
Downloaded 9482 tweets
Downloaded 9568 tweets
Downloaded 9648 tweets
Downloaded 9725 tweets
Downloaded 9801 tweets
Downloaded 9881 tweets
Downloaded 9960 tweets
Downloaded 10031 tweets
Downloaded 10122 tweets
Downloaded 10207 tweets
Downloaded 10292 tweets
Downloaded 10366 tweets
Downloaded 10446 tweets
Downloaded 10521 tweets
Downloaded 10598 tweets
Downloaded 10689 tweets
Downloaded 10767 tweets
Downloaded 10854 tweets
Downloaded 10934 tweets
Downloaded 11015 tweets
Downloaded 11087 tweets
Downloaded 11177 tweets
Downloaded 11269 tweets
Downloaded 11344 tweets
Downloaded 11427 tweets
Downloaded 11514 tweets
Downloaded 11579 tweets
Downloaded 11657 tweets
Downloaded 11735 tweets
Downloaded 11817 tweets
Downloaded 11903 tweets
Downloaded 11985 tweets
Downloaded 12069 tweets
Downloaded 12159 tweets
Downloaded 12238 tweets
Downloaded 12319 tweets
Downloaded 12400 tweets
Downloaded 12482 tweets
Downloaded 12555 tweets
Downloaded 12631 tweets
Downloaded 12708 tweets
Downloaded 12775 tweets
Downloaded 12849 tweets
Downloaded 12923 tweets
Downloaded 12993 tweets
Downloaded 13076 tweets
Downloaded 13160 tweets
Downloaded 13244 tweets
Downloaded 13322 tweets
Downloaded 13401 tweets
Downloaded 13482 tweets
Downloaded 13565 tweets
Downloaded 13641 tweets
Downloaded 13721 tweets
Downloaded 13801 tweets
Downloaded 13876 tweets
Downloaded 13958 tweets
Downloaded 14035 tweets
Downloaded 14111 tweets
Downloaded 14197 tweets
Downloaded 14272 tweets
Downloaded 14354 tweets
Downloaded 14429 tweets
Downloaded 14515 tweets
Downloaded 14594 tweets
Downloaded 14669 tweets
Downloaded 14745 tweets
Downloaded 14816 tweets
Downloaded 14898 tweets
Downloaded 14980 tweets
Downloaded 15068 tweets
Downloaded 15068 tweets, Saved to tweets_for_top3_ats.txt

Query=@midnight, max=9991
Downloading max9991 for @midnight...
Downloaded 91 tweets
Downloaded 173 tweets
Downloaded 214 tweets
No more tweets found
Downloaded 214 tweets, Saved to tweets_for_top3_ats.txt

Query=@POTUS, max=5633
Downloading max5633 for @POTUS...
Downloaded 50 tweets
Downloaded 110 tweets
Downloaded 155 tweets
Downloaded 207 tweets
Downloaded 262 tweets
Downloaded 317 tweets
Downloaded 375 tweets
Downloaded 433 tweets
Downloaded 501 tweets
Downloaded 563 tweets
Downloaded 627 tweets
Downloaded 686 tweets
Downloaded 754 tweets
Downloaded 809 tweets
Downloaded 870 tweets
Downloaded 921 tweets
Downloaded 984 tweets
Downloaded 1045 tweets
Downloaded 1107 tweets
Downloaded 1159 tweets
Downloaded 1218 tweets
Downloaded 1274 tweets
Downloaded 1325 tweets
Downloaded 1371 tweets
Downloaded 1434 tweets
Downloaded 1491 tweets
Downloaded 1548 tweets
Downloaded 1604 tweets
Downloaded 1667 tweets
Downloaded 1733 tweets
Downloaded 1803 tweets
Downloaded 1862 tweets
Downloaded 1924 tweets
Downloaded 1992 tweets
Downloaded 2054 tweets
Downloaded 2110 tweets
Downloaded 2162 tweets
Downloaded 2217 tweets
Downloaded 2275 tweets
Downloaded 2327 tweets
Downloaded 2386 tweets
Downloaded 2449 tweets
Downloaded 2508 tweets
Downloaded 2561 tweets
Downloaded 2610 tweets
Downloaded 2668 tweets
Downloaded 2723 tweets
Downloaded 2782 tweets
Downloaded 2847 tweets
Downloaded 2894 tweets
Downloaded 2951 tweets
Downloaded 3001 tweets
Downloaded 3056 tweets
Downloaded 3108 tweets
Downloaded 3160 tweets
Downloaded 3211 tweets
Downloaded 3252 tweets
Downloaded 3308 tweets
Downloaded 3365 tweets
Downloaded 3415 tweets
Downloaded 3467 tweets
Downloaded 3510 tweets
Downloaded 3559 tweets
Downloaded 3598 tweets
Downloaded 3647 tweets
Downloaded 3709 tweets
Downloaded 3763 tweets
Downloaded 3823 tweets
Downloaded 3885 tweets
Downloaded 3945 tweets
Downloaded 4012 tweets
Downloaded 4057 tweets
Downloaded 4105 tweets
Downloaded 4163 tweets
Downloaded 4210 tweets
Downloaded 4264 tweets
Downloaded 4315 tweets
Downloaded 4382 tweets
Downloaded 4437 tweets
Downloaded 4491 tweets
Downloaded 4555 tweets
Downloaded 4607 tweets
Downloaded 4664 tweets
Downloaded 4715 tweets
Downloaded 4776 tweets
Downloaded 4836 tweets
Downloaded 4883 tweets
Downloaded 4943 tweets
Downloaded 4992 tweets
Downloaded 5041 tweets
Downloaded 5097 tweets
Downloaded 5149 tweets
Downloaded 5212 tweets
Downloaded 5265 tweets
Downloaded 5325 tweets
Downloaded 5376 tweets
Downloaded 5428 tweets
Downloaded 5485 tweets
Downloaded 5526 tweets
Downloaded 5572 tweets
Downloaded 5626 tweets
Downloaded 5686 tweets
Downloaded 5686 tweets, Saved to tweets_for_top3_ats.txt

In [33]:
# Extract tweets for top #
final_query_list = query_tags[:3]
filename = 'tweets_for_top3_tags.txt'

for q in final_query_list:
    searchQuery = q[0]
    maxTweets = q[1]
    print(f'Query={searchQuery}, max={maxTweets}')
    search_twitter_api(api, searchQuery, maxTweets, fName=filename)

Query=#news, max=130268
Downloading max130268 for #news...
Downloaded 58 tweets
Downloaded 136 tweets
Downloaded 222 tweets
Downloaded 293 tweets
Downloaded 368 tweets
Downloaded 453 tweets
Downloaded 525 tweets
Downloaded 598 tweets
Downloaded 665 tweets
Downloaded 743 tweets
Downloaded 834 tweets
Downloaded 893 tweets
Downloaded 934 tweets
Downloaded 1014 tweets
Downloaded 1094 tweets
Downloaded 1162 tweets
Downloaded 1231 tweets
Downloaded 1304 tweets
Downloaded 1364 tweets
Downloaded 1440 tweets
Downloaded 1509 tweets
Downloaded 1590 tweets
Downloaded 1679 tweets
Downloaded 1758 tweets
Downloaded 1831 tweets
Downloaded 1917 tweets
Downloaded 2011 tweets
Downloaded 2084 tweets
Downloaded 2168 tweets
Downloaded 2258 tweets
Downloaded 2334 tweets
Downloaded 2401 tweets
Downloaded 2477 tweets
Downloaded 2555 tweets
Downloaded 2638 tweets
Downloaded 2713 tweets
Downloaded 2792 tweets
Downloaded 2863 tweets
Downloaded 2946 tweets
Downloaded 3032 tweets
Downloaded 3120 tweets
Downloaded 3191 tweets
Downloaded 3267 tweets
Downloaded 3350 tweets
Downloaded 3432 tweets
Downloaded 3531 tweets
Downloaded 3626 tweets
Downloaded 3702 tweets
Downloaded 3785 tweets
Downloaded 3854 tweets
Downloaded 3915 tweets
Downloaded 3984 tweets
Downloaded 4068 tweets
Downloaded 4161 tweets
Downloaded 4245 tweets
Downloaded 4336 tweets
Downloaded 4427 tweets
Downloaded 4513 tweets
Downloaded 4608 tweets
Downloaded 4707 tweets
Downloaded 4791 tweets
Downloaded 4876 tweets
Downloaded 4953 tweets
Downloaded 5042 tweets
Downloaded 5135 tweets
Downloaded 5235 tweets
Downloaded 5335 tweets
Downloaded 5422 tweets
Downloaded 5514 tweets
Downloaded 5595 tweets
Downloaded 5668 tweets
Downloaded 5756 tweets
Downloaded 5853 tweets
Downloaded 5931 tweets
Downloaded 6015 tweets
Downloaded 6113 tweets
Downloaded 6212 tweets
Downloaded 6311 tweets
Downloaded 6400 tweets
Downloaded 6500 tweets
Downloaded 6586 tweets
Downloaded 6670 tweets
Downloaded 6754 tweets
Downloaded 6842 tweets
Downloaded 6926 tweets
Downloaded 7005 tweets
Downloaded 7096 tweets
Downloaded 7180 tweets
Downloaded 7272 tweets
Downloaded 7371 tweets
Downloaded 7464 tweets
Downloaded 7552 tweets
Downloaded 7633 tweets
Downloaded 7722 tweets
Downloaded 7810 tweets
Downloaded 7889 tweets
Downloaded 7975 tweets
Downloaded 8066 tweets
Downloaded 8158 tweets
Downloaded 8244 tweets
Downloaded 8331 tweets
Downloaded 8419 tweets
Downloaded 8496 tweets
Downloaded 8582 tweets
Downloaded 8679 tweets
Downloaded 8765 tweets
Downloaded 8841 tweets
Downloaded 8914 tweets
Downloaded 8993 tweets
Downloaded 9081 tweets
Downloaded 9173 tweets
Downloaded 9266 tweets
Downloaded 9363 tweets
Downloaded 9459 tweets
Downloaded 9557 tweets
Downloaded 9645 tweets
Downloaded 9729 tweets
Downloaded 9802 tweets
Downloaded 9880 tweets
Downloaded 9956 tweets
Downloaded 10042 tweets
Downloaded 10138 tweets
Downloaded 10238 tweets
Downloaded 10327 tweets
Downloaded 10423 tweets
Downloaded 10506 tweets
Downloaded 10600 tweets
Downloaded 10690 tweets
Downloaded 10784 tweets
Downloaded 10877 tweets
Downloaded 10968 tweets
Downloaded 11068 tweets
Downloaded 11160 tweets
Downloaded 11238 tweets
Downloaded 11326 tweets
Downloaded 11420 tweets
Downloaded 11505 tweets
Downloaded 11587 tweets
Downloaded 11661 tweets
Downloaded 11752 tweets
Downloaded 11843 tweets
Downloaded 11930 tweets
Downloaded 12010 tweets
Downloaded 12099 tweets
Downloaded 12199 tweets
Downloaded 12292 tweets
Downloaded 12380 tweets
Downloaded 12461 tweets

Rate limit reached. Sleeping for: 387

Downloaded 12553 tweets
Downloaded 12649 tweets
Downloaded 12716 tweets
Downloaded 12780 tweets
Downloaded 12870 tweets
Downloaded 12945 tweets
Downloaded 13030 tweets
Downloaded 13118 tweets
Downloaded 13209 tweets
Downloaded 13306 tweets
Downloaded 13393 tweets
Downloaded 13487 tweets
Downloaded 13583 tweets
Downloaded 13676 tweets
Downloaded 13769 tweets
Downloaded 13846 tweets
Downloaded 13925 tweets
Downloaded 14008 tweets
Downloaded 14098 tweets
Downloaded 14173 tweets
Downloaded 14243 tweets
Downloaded 14329 tweets
Downloaded 14407 tweets
Downloaded 14472 tweets
Downloaded 14538 tweets
Downloaded 14605 tweets
Downloaded 14682 tweets
Downloaded 14755 tweets
Downloaded 14822 tweets
Downloaded 14910 tweets
Downloaded 14997 tweets
Downloaded 15081 tweets
Downloaded 15160 tweets
Downloaded 15239 tweets
Downloaded 15306 tweets
Downloaded 15379 tweets
Downloaded 15461 tweets
Downloaded 15524 tweets
Downloaded 15604 tweets
Downloaded 15698 tweets
Downloaded 15784 tweets
Downloaded 15880 tweets
Downloaded 15980 tweets
Downloaded 16057 tweets
Downloaded 16147 tweets
Downloaded 16239 tweets
Downloaded 16329 tweets
Downloaded 16405 tweets
Downloaded 16479 tweets
Downloaded 16565 tweets
Downloaded 16648 tweets
Downloaded 16738 tweets
Downloaded 16819 tweets
Downloaded 16895 tweets
Downloaded 16983 tweets
Downloaded 17076 tweets
Downloaded 17142 tweets
Downloaded 17224 tweets
Downloaded 17304 tweets
Downloaded 17381 tweets
Downloaded 17469 tweets
Downloaded 17536 tweets
Downloaded 17600 tweets
Downloaded 17654 tweets
Downloaded 17725 tweets
Downloaded 17803 tweets
Downloaded 17900 tweets
Downloaded 17990 tweets
Downloaded 18083 tweets
Downloaded 18175 tweets
Downloaded 18267 tweets
Downloaded 18344 tweets
Downloaded 18421 tweets
Downloaded 18490 tweets
Downloaded 18573 tweets
Downloaded 18651 tweets
Downloaded 18724 tweets
Downloaded 18806 tweets
Downloaded 18880 tweets
Downloaded 18959 tweets
Downloaded 19043 tweets
Downloaded 19131 tweets
Downloaded 19203 tweets
Downloaded 19273 tweets
Downloaded 19338 tweets
Downloaded 19416 tweets
Downloaded 19502 tweets
Downloaded 19588 tweets
Downloaded 19667 tweets
Downloaded 19764 tweets
Downloaded 19839 tweets
Downloaded 19920 tweets
Downloaded 20002 tweets
Downloaded 20085 tweets
Downloaded 20146 tweets
Downloaded 20236 tweets
Downloaded 20331 tweets
Downloaded 20425 tweets
Downloaded 20518 tweets
Downloaded 20604 tweets
Downloaded 20692 tweets
Downloaded 20791 tweets
Downloaded 20891 tweets
Downloaded 20990 tweets
Downloaded 21079 tweets
Downloaded 21172 tweets
Downloaded 21264 tweets
Downloaded 21361 tweets
Downloaded 21450 tweets
Downloaded 21547 tweets
Downloaded 21640 tweets
Downloaded 21736 tweets
Downloaded 21836 tweets
Downloaded 21925 tweets
Downloaded 22007 tweets
Downloaded 22103 tweets
Downloaded 22177 tweets
Downloaded 22255 tweets
Downloaded 22331 tweets
Downloaded 22405 tweets
Downloaded 22480 tweets
Downloaded 22571 tweets
Downloaded 22666 tweets
Downloaded 22758 tweets
Downloaded 22837 tweets
Downloaded 22915 tweets
Downloaded 23013 tweets
Downloaded 23099 tweets
Downloaded 23184 tweets
Downloaded 23283 tweets
Downloaded 23381 tweets
Downloaded 23477 tweets
Downloaded 23575 tweets
Downloaded 23672 tweets
Downloaded 23767 tweets
Downloaded 23848 tweets
Downloaded 23936 tweets
Downloaded 24028 tweets
Downloaded 24127 tweets
Downloaded 24223 tweets
Downloaded 24304 tweets
Downloaded 24368 tweets
Downloaded 24456 tweets
Downloaded 24541 tweets
Downloaded 24620 tweets
Downloaded 24709 tweets
Downloaded 24794 tweets
Downloaded 24894 tweets
Downloaded 24994 tweets
Downloaded 25090 tweets
Downloaded 25166 tweets
Downloaded 25251 tweets
Downloaded 25328 tweets
Downloaded 25397 tweets
Downloaded 25476 tweets
Downloaded 25552 tweets
Downloaded 25637 tweets
Downloaded 25712 tweets
Downloaded 25788 tweets
Downloaded 25870 tweets
Downloaded 25942 tweets
Downloaded 26012 tweets
Downloaded 26077 tweets
Downloaded 26164 tweets
Downloaded 26254 tweets
Downloaded 26332 tweets
Downloaded 26407 tweets
Downloaded 26507 tweets
Downloaded 26569 tweets
Downloaded 26659 tweets
Downloaded 26733 tweets
Downloaded 26829 tweets
Downloaded 26908 tweets
Downloaded 26999 tweets
Downloaded 27081 tweets
Downloaded 27156 tweets
Downloaded 27243 tweets
Downloaded 27325 tweets
Downloaded 27411 tweets
Downloaded 27502 tweets
Downloaded 27577 tweets
Downloaded 27668 tweets
Downloaded 27758 tweets
Downloaded 27850 tweets
Downloaded 27934 tweets
Downloaded 28031 tweets
Downloaded 28131 tweets
Downloaded 28231 tweets
Downloaded 28320 tweets
Downloaded 28412 tweets
Downloaded 28498 tweets
Downloaded 28576 tweets
Downloaded 28636 tweets
Downloaded 28693 tweets
Downloaded 28756 tweets
Downloaded 28833 tweets
Downloaded 28913 tweets
Downloaded 28992 tweets
Downloaded 29067 tweets
Downloaded 29152 tweets
Downloaded 29239 tweets
Downloaded 29312 tweets
Downloaded 29379 tweets
Downloaded 29440 tweets
Downloaded 29506 tweets
Downloaded 29579 tweets
Downloaded 29654 tweets
Downloaded 29739 tweets
Downloaded 29833 tweets
Downloaded 29909 tweets
Downloaded 30007 tweets
Downloaded 30107 tweets
Downloaded 30206 tweets
Downloaded 30299 tweets
Downloaded 30395 tweets
Downloaded 30485 tweets
Downloaded 30571 tweets
Downloaded 30662 tweets
Downloaded 30745 tweets
Downloaded 30830 tweets
Downloaded 30915 tweets
Downloaded 30998 tweets
Downloaded 31084 tweets
Downloaded 31167 tweets
Downloaded 31261 tweets
Downloaded 31352 tweets
Downloaded 31434 tweets
Downloaded 31533 tweets
Downloaded 31617 tweets
Downloaded 31696 tweets
Downloaded 31752 tweets
Downloaded 31799 tweets
Downloaded 31868 tweets
Downloaded 31935 tweets
Downloaded 32014 tweets
Downloaded 32089 tweets
Downloaded 32165 tweets
Downloaded 32243 tweets
Downloaded 32336 tweets
Downloaded 32426 tweets
Downloaded 32514 tweets
Downloaded 32599 tweets
Downloaded 32674 tweets
Downloaded 32747 tweets
Downloaded 32826 tweets
Downloaded 32896 tweets
Downloaded 32973 tweets
Downloaded 33044 tweets
Downloaded 33103 tweets
Downloaded 33188 tweets
Downloaded 33273 tweets
Downloaded 33358 tweets
Downloaded 33423 tweets
Downloaded 33494 tweets
Downloaded 33570 tweets
Downloaded 33645 tweets
Downloaded 33721 tweets
Downloaded 33787 tweets
Downloaded 33873 tweets
Downloaded 33952 tweets
Downloaded 34030 tweets
Downloaded 34091 tweets
Downloaded 34159 tweets
Downloaded 34229 tweets
Downloaded 34292 tweets
Downloaded 34356 tweets
Downloaded 34411 tweets
Downloaded 34469 tweets
Downloaded 34535 tweets
Downloaded 34595 tweets
Downloaded 34658 tweets
Downloaded 34740 tweets
Downloaded 34833 tweets
Downloaded 34928 tweets
Downloaded 35022 tweets
Downloaded 35107 tweets
Downloaded 35200 tweets
Downloaded 35284 tweets
Downloaded 35365 tweets
Downloaded 35455 tweets
Downloaded 35534 tweets
Downloaded 35609 tweets
Downloaded 35685 tweets
Downloaded 35781 tweets
Downloaded 35871 tweets
Downloaded 35959 tweets
Downloaded 36035 tweets
Downloaded 36120 tweets
Downloaded 36200 tweets
Downloaded 36269 tweets
Downloaded 36353 tweets
Downloaded 36423 tweets
Downloaded 36492 tweets
Downloaded 36566 tweets
Downloaded 36651 tweets
Downloaded 36729 tweets
Downloaded 36806 tweets
Downloaded 36878 tweets
Downloaded 36951 tweets
Downloaded 37024 tweets
Downloaded 37077 tweets
Downloaded 37145 tweets
Downloaded 37217 tweets
Downloaded 37281 tweets
Downloaded 37346 tweets
Downloaded 37417 tweets
Downloaded 37492 tweets
Downloaded 37570 tweets
Downloaded 37628 tweets
Downloaded 37673 tweets
Downloaded 37751 tweets
Downloaded 37828 tweets
Downloaded 37896 tweets
Downloaded 37965 tweets
Downloaded 38037 tweets
Downloaded 38103 tweets
Downloaded 38155 tweets
Downloaded 38220 tweets
Downloaded 38296 tweets
Downloaded 38383 tweets
Downloaded 38445 tweets
Downloaded 38505 tweets
Downloaded 38573 tweets
Downloaded 38633 tweets
Downloaded 38704 tweets
Downloaded 38771 tweets
Downloaded 38834 tweets
Downloaded 38888 tweets
Downloaded 38947 tweets
Downloaded 39016 tweets
Downloaded 39086 tweets
Downloaded 39140 tweets
Downloaded 39217 tweets
Downloaded 39282 tweets
Downloaded 39337 tweets
Downloaded 39402 tweets
Downloaded 39471 tweets
Downloaded 39533 tweets
Downloaded 39598 tweets
Downloaded 39677 tweets
Downloaded 39752 tweets
Downloaded 39826 tweets

Downloaded 39878 tweets
Downloaded 39949 tweets
Downloaded 40023 tweets
Downloaded 40099 tweets
Downloaded 40156 tweets
Downloaded 40244 tweets
Downloaded 40330 tweets
Downloaded 40413 tweets
Downloaded 40487 tweets
Downloaded 40553 tweets
Downloaded 40634 tweets
Downloaded 40716 tweets
Downloaded 40791 tweets
Downloaded 40868 tweets
Downloaded 40950 tweets
Downloaded 41037 tweets
Downloaded 41119 tweets
Downloaded 41203 tweets
Downloaded 41288 tweets
Downloaded 41370 tweets
Downloaded 41448 tweets
Downloaded 41527 tweets
Downloaded 41608 tweets
Downloaded 41685 tweets
Downloaded 41754 tweets
Downloaded 41812 tweets
Downloaded 41888 tweets
Downloaded 41969 tweets
Downloaded 42060 tweets
Downloaded 42139 tweets
Downloaded 42208 tweets
Downloaded 42301 tweets
Downloaded 42392 tweets
Downloaded 42476 tweets
Downloaded 42561 tweets
Downloaded 42637 tweets
Downloaded 42714 tweets
Downloaded 42789 tweets
Downloaded 42870 tweets
Downloaded 42944 tweets
Downloaded 43011 tweets
Downloaded 43082 tweets
Downloaded 43153 tweets
Downloaded 43225 tweets
Downloaded 43293 tweets
Downloaded 43366 tweets
Downloaded 43445 tweets
Downloaded 43531 tweets
Downloaded 43621 tweets
Downloaded 43696 tweets
Downloaded 43770 tweets
Downloaded 43856 tweets
Downloaded 43937 tweets
Downloaded 44026 tweets
Downloaded 44118 tweets
Downloaded 44213 tweets
Downloaded 44295 tweets
Downloaded 44370 tweets
Downloaded 44442 tweets
Downloaded 44517 tweets
Downloaded 44600 tweets
Downloaded 44687 tweets
Downloaded 44767 tweets
Downloaded 44855 tweets
Downloaded 44949 tweets
Downloaded 45045 tweets
Downloaded 45134 tweets
Downloaded 45210 tweets
Downloaded 45287 tweets
Downloaded 45372 tweets
Downloaded 45459 tweets
Downloaded 45541 tweets
Downloaded 45619 tweets
Downloaded 45706 tweets
Downloaded 45771 tweets
Downloaded 45844 tweets
Downloaded 45904 tweets
Downloaded 45969 tweets
Downloaded 46062 tweets
Downloaded 46154 tweets
Downloaded 46235 tweets
Downloaded 46315 tweets
Downloaded 46376 tweets
Downloaded 46446 tweets
Downloaded 46531 tweets
Downloaded 46615 tweets
Downloaded 46687 tweets
Downloaded 46751 tweets
Downloaded 46825 tweets
Downloaded 46904 tweets
Downloaded 46977 tweets
Downloaded 47059 tweets
Downloaded 47141 tweets
Downloaded 47220 tweets
Downloaded 47299 tweets
Downloaded 47380 tweets
Downloaded 47465 tweets
Downloaded 47545 tweets
Downloaded 47626 tweets
Downloaded 47698 tweets
Downloaded 47780 tweets
Downloaded 47868 tweets
Downloaded 47947 tweets
Downloaded 48027 tweets
Downloaded 48106 tweets
Downloaded 48197 tweets
Downloaded 48278 tweets
Downloaded 48356 tweets
Downloaded 48438 tweets

Rate limit reached. Sleeping for: 203

Downloaded 48520 tweets
Downloaded 48601 tweets
Downloaded 48693 tweets
Downloaded 48769 tweets
Downloaded 48860 tweets
Downloaded 48946 tweets
Downloaded 49031 tweets
Downloaded 49094 tweets
Downloaded 49168 tweets
Downloaded 49247 tweets
Downloaded 49313 tweets
Downloaded 49375 tweets
Downloaded 49457 tweets
Downloaded 49533 tweets
Downloaded 49620 tweets
Downloaded 49695 tweets
Downloaded 49776 tweets
Downloaded 49868 tweets
Downloaded 49948 tweets
Downloaded 50024 tweets
Downloaded 50090 tweets
Downloaded 50147 tweets
Downloaded 50224 tweets
Downloaded 50283 tweets
Downloaded 50366 tweets
Downloaded 50447 tweets
Downloaded 50528 tweets
Downloaded 50620 tweets
Downloaded 50706 tweets
Downloaded 50792 tweets
Downloaded 50863 tweets
Downloaded 50952 tweets
Downloaded 51035 tweets
Downloaded 51104 tweets
Downloaded 51178 tweets
Downloaded 51258 tweets
Downloaded 51324 tweets
Downloaded 51396 tweets
Downloaded 51471 tweets
Downloaded 51552 tweets
Downloaded 51637 tweets
Downloaded 51714 tweets
Downloaded 51789 tweets
Downloaded 51872 tweets
Downloaded 51946 tweets
Downloaded 52019 tweets
Downloaded 52095 tweets
Downloaded 52175 tweets
Downloaded 52250 tweets
Downloaded 52312 tweets
Downloaded 52389 tweets
Downloaded 52459 tweets
Downloaded 52533 tweets
Downloaded 52607 tweets
Downloaded 52678 tweets
Downloaded 52754 tweets
Downloaded 52819 tweets
Downloaded 52865 tweets
Downloaded 52938 tweets
Downloaded 53009 tweets
Downloaded 53083 tweets
Downloaded 53149 tweets
Downloaded 53216 tweets
Downloaded 53300 tweets
Downloaded 53386 tweets
Downloaded 53456 tweets
Downloaded 53533 tweets
Downloaded 53615 tweets
Downloaded 53687 tweets
Downloaded 53760 tweets
Downloaded 53830 tweets
Downloaded 53904 tweets
Downloaded 53980 tweets
Downloaded 54048 tweets
Downloaded 54121 tweets
Downloaded 54198 tweets
Downloaded 54259 tweets
Downloaded 54312 tweets
Downloaded 54379 tweets
Downloaded 54456 tweets
Downloaded 54526 tweets
Downloaded 54613 tweets
Downloaded 54695 tweets
Downloaded 54784 tweets
Downloaded 54871 tweets
Downloaded 54963 tweets
Downloaded 55060 tweets
Downloaded 55156 tweets
Downloaded 55254 tweets
Downloaded 55343 tweets
Downloaded 55424 tweets
Downloaded 55509 tweets
Downloaded 55594 tweets
Downloaded 55676 tweets
Downloaded 55763 tweets
Downloaded 55852 tweets
Downloaded 55942 tweets
Downloaded 56020 tweets
Downloaded 56084 tweets
Downloaded 56160 tweets
Downloaded 56234 tweets
Downloaded 56324 tweets
Downloaded 56405 tweets
Downloaded 56479 tweets
Downloaded 56564 tweets
Downloaded 56655 tweets
Downloaded 56728 tweets
Downloaded 56816 tweets
Downloaded 56898 tweets
Downloaded 56984 tweets
Downloaded 57072 tweets
Downloaded 57159 tweets
Downloaded 57237 tweets
Downloaded 57311 tweets
Downloaded 57399 tweets
Downloaded 57480 tweets
Downloaded 57556 tweets
Downloaded 57622 tweets
Downloaded 57708 tweets
Downloaded 57791 tweets
Downloaded 57871 tweets
Downloaded 57957 tweets
Downloaded 58042 tweets
Downloaded 58118 tweets
Downloaded 58183 tweets
Downloaded 58252 tweets
Downloaded 58330 tweets
Downloaded 58414 tweets
Downloaded 58498 tweets
Downloaded 58580 tweets
Downloaded 58662 tweets
Downloaded 58732 tweets
Downloaded 58808 tweets
Downloaded 58880 tweets
Downloaded 58942 tweets
Downloaded 59016 tweets
Downloaded 59074 tweets
Downloaded 59143 tweets
Downloaded 59224 tweets
Downloaded 59320 tweets
Downloaded 59402 tweets
Downloaded 59487 tweets
Downloaded 59543 tweets
Downloaded 59623 tweets
Downloaded 59715 tweets
Downloaded 59808 tweets
Downloaded 59895 tweets
Downloaded 59993 tweets
Downloaded 60070 tweets
Downloaded 60114 tweets
Downloaded 60200 tweets
Downloaded 60297 tweets
Downloaded 60380 tweets
Downloaded 60456 tweets
Downloaded 60534 tweets
Downloaded 60612 tweets
Downloaded 60689 tweets
Downloaded 60762 tweets
Downloaded 60827 tweets
Downloaded 60903 tweets
Downloaded 60988 tweets
Downloaded 61070 tweets
Downloaded 61146 tweets
Downloaded 61217 tweets
Downloaded 61296 tweets
Downloaded 61370 tweets
Downloaded 61446 tweets
Downloaded 61518 tweets
Downloaded 61598 tweets
Downloaded 61678 tweets
Downloaded 61751 tweets
Downloaded 61832 tweets
Downloaded 61892 tweets
Downloaded 61942 tweets
Downloaded 61998 tweets
Downloaded 62075 tweets
Downloaded 62155 tweets
Downloaded 62233 tweets
Downloaded 62318 tweets
Downloaded 62393 tweets
Downloaded 62460 tweets
Downloaded 62521 tweets
Downloaded 62589 tweets
Downloaded 62658 tweets
Downloaded 62747 tweets
Downloaded 62820 tweets
Downloaded 62912 tweets
Downloaded 62992 tweets
Downloaded 63076 tweets
Downloaded 63140 tweets
Downloaded 63211 tweets
Downloaded 63271 tweets
Downloaded 63340 tweets
Downloaded 63421 tweets
Downloaded 63493 tweets
Downloaded 63569 tweets
Downloaded 63641 tweets
Downloaded 63717 tweets
Downloaded 63792 tweets
Downloaded 63887 tweets
Downloaded 63984 tweets
Downloaded 64078 tweets
Downloaded 64153 tweets
Downloaded 64219 tweets
Downloaded 64310 tweets
Downloaded 64405 tweets
Downloaded 64491 tweets
Downloaded 64574 tweets
Downloaded 64647 tweets
Downloaded 64724 tweets
Downloaded 64796 tweets
Downloaded 64871 tweets
Downloaded 64938 tweets
Downloaded 65006 tweets
Downloaded 65077 tweets
Downloaded 65160 tweets
Downloaded 65239 tweets
Downloaded 65313 tweets
Downloaded 65384 tweets
Downloaded 65468 tweets
Downloaded 65545 tweets
Downloaded 65629 tweets
Downloaded 65710 tweets
Downloaded 65793 tweets
Downloaded 65869 tweets
Downloaded 65930 tweets
Downloaded 66002 tweets
Downloaded 66091 tweets
Downloaded 66172 tweets
Downloaded 66258 tweets
Downloaded 66337 tweets
Downloaded 66425 tweets
Downloaded 66498 tweets
Downloaded 66558 tweets
Downloaded 66630 tweets
Downloaded 66702 tweets
Downloaded 66761 tweets
Downloaded 66849 tweets
Downloaded 66924 tweets
Downloaded 66993 tweets
Downloaded 67073 tweets
Downloaded 67131 tweets
Downloaded 67187 tweets
Downloaded 67253 tweets
Downloaded 67324 tweets
Downloaded 67403 tweets
Downloaded 67473 tweets
Downloaded 67552 tweets
Downloaded 67618 tweets
Downloaded 67691 tweets
Downloaded 67770 tweets
Downloaded 67848 tweets
Downloaded 67922 tweets
Downloaded 67996 tweets
Downloaded 68060 tweets
Downloaded 68141 tweets
Downloaded 68209 tweets
Downloaded 68277 tweets
Downloaded 68343 tweets
Downloaded 68418 tweets
Downloaded 68508 tweets
Downloaded 68583 tweets
Downloaded 68669 tweets
Downloaded 68747 tweets
Downloaded 68819 tweets
Downloaded 68890 tweets
Downloaded 68975 tweets
Downloaded 69064 tweets
Downloaded 69148 tweets
Downloaded 69241 tweets
Downloaded 69315 tweets
Downloaded 69394 tweets
Downloaded 69474 tweets
Downloaded 69546 tweets
Downloaded 69611 tweets
Downloaded 69684 tweets
Downloaded 69753 tweets
Downloaded 69826 tweets
Downloaded 69891 tweets
Downloaded 69961 tweets
Downloaded 70035 tweets
Downloaded 70107 tweets
Downloaded 70159 tweets
Downloaded 70226 tweets
Downloaded 70289 tweets
Downloaded 70355 tweets
Downloaded 70426 tweets
Downloaded 70505 tweets
Downloaded 70593 tweets
Downloaded 70679 tweets
Downloaded 70756 tweets
Downloaded 70834 tweets
Downloaded 70907 tweets
Downloaded 70989 tweets
Downloaded 71065 tweets
Downloaded 71136 tweets
Downloaded 71211 tweets
Downloaded 71286 tweets
Downloaded 71364 tweets
Downloaded 71445 tweets
Downloaded 71521 tweets
Downloaded 71592 tweets
Downloaded 71672 tweets
Downloaded 71758 tweets
Downloaded 71832 tweets
Downloaded 71921 tweets
Downloaded 72010 tweets
Downloaded 72101 tweets
Downloaded 72172 tweets
Downloaded 72246 tweets
Downloaded 72333 tweets
Downloaded 72414 tweets
Downloaded 72485 tweets
Downloaded 72557 tweets
Downloaded 72625 tweets
Downloaded 72705 tweets
Downloaded 72786 tweets
Downloaded 72861 tweets
Downloaded 72949 tweets
Downloaded 73034 tweets
Downloaded 73122 tweets
Downloaded 73204 tweets
Downloaded 73288 tweets
Downloaded 73370 tweets
Downloaded 73450 tweets
Downloaded 73534 tweets
Downloaded 73604 tweets
Downloaded 73679 tweets
Downloaded 73758 tweets
Downloaded 73840 tweets
Downloaded 73918 tweets
Downloaded 73980 tweets
Downloaded 74060 tweets
Downloaded 74145 tweets
Downloaded 74222 tweets
Downloaded 74306 tweets
Downloaded 74392 tweets
Downloaded 74482 tweets
Downloaded 74561 tweets
Downloaded 74636 tweets
Downloaded 74721 tweets
Downloaded 74802 tweets

Downloaded 74889 tweets
Downloaded 74971 tweets
Downloaded 75045 tweets
Downloaded 75129 tweets
Downloaded 75201 tweets
Downloaded 75276 tweets
Downloaded 75351 tweets
Downloaded 75426 tweets
Downloaded 75516 tweets
Downloaded 75600 tweets
Downloaded 75677 tweets
Downloaded 75747 tweets
Downloaded 75831 tweets
Downloaded 75917 tweets
Downloaded 75990 tweets
Downloaded 76069 tweets
Downloaded 76143 tweets
Downloaded 76232 tweets
Downloaded 76306 tweets
Downloaded 76387 tweets
Downloaded 76466 tweets
Downloaded 76555 tweets
Downloaded 76632 tweets
Downloaded 76720 tweets
Downloaded 76798 tweets
Downloaded 76882 tweets
Downloaded 76972 tweets
Downloaded 77064 tweets
Downloaded 77148 tweets
Downloaded 77238 tweets
Downloaded 77327 tweets
Downloaded 77427 tweets
Downloaded 77509 tweets
Downloaded 77596 tweets
Downloaded 77682 tweets
Downloaded 77760 tweets
Downloaded 77837 tweets
Downloaded 77911 tweets
Downloaded 77995 tweets
Downloaded 78056 tweets
Downloaded 78133 tweets
Downloaded 78220 tweets
Downloaded 78309 tweets
Downloaded 78401 tweets
Downloaded 78489 tweets
Downloaded 78556 tweets
Downloaded 78649 tweets
Downloaded 78730 tweets
Downloaded 78803 tweets
Downloaded 78882 tweets
Downloaded 78958 tweets
Downloaded 79031 tweets
Downloaded 79117 tweets
Downloaded 79189 tweets
Downloaded 79256 tweets
Downloaded 79323 tweets
Downloaded 79399 tweets
Downloaded 79470 tweets
Downloaded 79535 tweets
Downloaded 79601 tweets
Downloaded 79661 tweets
Downloaded 79742 tweets
Downloaded 79824 tweets
Downloaded 79894 tweets
Downloaded 79962 tweets
Downloaded 80021 tweets
Downloaded 80083 tweets
Downloaded 80145 tweets
Downloaded 80229 tweets
Downloaded 80307 tweets
Downloaded 80383 tweets
Downloaded 80444 tweets
Downloaded 80519 tweets
Downloaded 80595 tweets
Downloaded 80667 tweets
Downloaded 80749 tweets
Downloaded 80824 tweets
Downloaded 80891 tweets
Downloaded 80968 tweets
Downloaded 81049 tweets
Downloaded 81131 tweets
Downloaded 81202 tweets
Downloaded 81261 tweets
Downloaded 81335 tweets
Downloaded 81404 tweets
Downloaded 81475 tweets
Downloaded 81546 tweets
Downloaded 81618 tweets
Downloaded 81681 tweets
Downloaded 81754 tweets
Downloaded 81833 tweets
Downloaded 81910 tweets
Downloaded 81991 tweets
Downloaded 82070 tweets
Downloaded 82141 tweets
Downloaded 82223 tweets
Downloaded 82306 tweets
Downloaded 82396 tweets
Downloaded 82480 tweets
Downloaded 82555 tweets
Downloaded 82641 tweets
Downloaded 82722 tweets
Downloaded 82786 tweets
Downloaded 82870 tweets
Downloaded 82945 tweets
Downloaded 83025 tweets
Downloaded 83101 tweets
Downloaded 83188 tweets

Rate limit reached. Sleeping for: 157

Downloaded 83282 tweets
Downloaded 83363 tweets
Downloaded 83440 tweets
Downloaded 83520 tweets
Downloaded 83592 tweets
Downloaded 83687 tweets
Downloaded 83771 tweets
Downloaded 83855 tweets
Downloaded 83928 tweets
Downloaded 84008 tweets
Downloaded 84097 tweets
Downloaded 84177 tweets
Downloaded 84265 tweets
Downloaded 84344 tweets
Downloaded 84432 tweets
Downloaded 84526 tweets
Downloaded 84604 tweets
Downloaded 84685 tweets
Downloaded 84771 tweets
Downloaded 84860 tweets
Downloaded 84921 tweets
Downloaded 85003 tweets
Downloaded 85089 tweets
Downloaded 85173 tweets
Downloaded 85264 tweets
Downloaded 85351 tweets
Downloaded 85431 tweets
Downloaded 85516 tweets
Downloaded 85601 tweets
Downloaded 85675 tweets
Downloaded 85753 tweets
Downloaded 85843 tweets
Downloaded 85931 tweets
Downloaded 86012 tweets
Downloaded 86098 tweets
Downloaded 86172 tweets
Downloaded 86253 tweets
Downloaded 86339 tweets
Downloaded 86427 tweets
Downloaded 86510 tweets
Downloaded 86595 tweets
Downloaded 86686 tweets
Downloaded 86778 tweets
Downloaded 86861 tweets
Downloaded 86939 tweets
Downloaded 87024 tweets
Downloaded 87095 tweets
Downloaded 87168 tweets
Downloaded 87251 tweets
Downloaded 87340 tweets
Downloaded 87408 tweets
Downloaded 87500 tweets
Downloaded 87591 tweets
Downloaded 87682 tweets
Downloaded 87770 tweets
Downloaded 87855 tweets
Downloaded 87947 tweets
Downloaded 88038 tweets
Downloaded 88123 tweets
Downloaded 88213 tweets
Downloaded 88295 tweets
Downloaded 88374 tweets
Downloaded 88464 tweets
Downloaded 88544 tweets
Downloaded 88628 tweets
Downloaded 88713 tweets
Downloaded 88791 tweets
Downloaded 88877 tweets
Downloaded 88960 tweets
Downloaded 89042 tweets
Downloaded 89115 tweets
Downloaded 89198 tweets
Downloaded 89283 tweets
Downloaded 89368 tweets
Downloaded 89451 tweets
Downloaded 89538 tweets
Downloaded 89613 tweets
Downloaded 89693 tweets
Downloaded 89765 tweets
Downloaded 89851 tweets
Downloaded 89906 tweets
Downloaded 89978 tweets
Downloaded 90059 tweets
Downloaded 90137 tweets
Downloaded 90222 tweets
Downloaded 90300 tweets
Downloaded 90381 tweets
Downloaded 90459 tweets
Downloaded 90524 tweets
Downloaded 90600 tweets
Downloaded 90674 tweets
Downloaded 90759 tweets
Downloaded 90834 tweets
Downloaded 90910 tweets
Downloaded 90999 tweets
Downloaded 91085 tweets
Downloaded 91160 tweets
Downloaded 91256 tweets
Downloaded 91345 tweets
Downloaded 91429 tweets
Downloaded 91517 tweets
Downloaded 91606 tweets
Downloaded 91695 tweets
Downloaded 91782 tweets
Downloaded 91870 tweets
Downloaded 91962 tweets
Downloaded 92055 tweets
Downloaded 92153 tweets
Downloaded 92244 tweets
Downloaded 92331 tweets
Downloaded 92419 tweets
Downloaded 92505 tweets
Downloaded 92588 tweets
Downloaded 92675 tweets
Downloaded 92759 tweets
Downloaded 92839 tweets
Downloaded 92928 tweets
Downloaded 93021 tweets
Downloaded 93109 tweets
Downloaded 93186 tweets
Downloaded 93271 tweets
Downloaded 93358 tweets
Downloaded 93439 tweets
Downloaded 93530 tweets
Downloaded 93625 tweets
Downloaded 93715 tweets
Downloaded 93796 tweets
Downloaded 93873 tweets
Downloaded 93945 tweets
Downloaded 94024 tweets
Downloaded 94092 tweets
Downloaded 94171 tweets
Downloaded 94244 tweets
Downloaded 94304 tweets
Downloaded 94393 tweets
Downloaded 94466 tweets
Downloaded 94539 tweets
Downloaded 94624 tweets
Downloaded 94716 tweets
Downloaded 94786 tweets
Downloaded 94856 tweets
Downloaded 94938 tweets
Downloaded 95021 tweets
Downloaded 95102 tweets
Downloaded 95178 tweets
Downloaded 95246 tweets
Downloaded 95332 tweets
Downloaded 95414 tweets
Downloaded 95491 tweets
Downloaded 95582 tweets
Downloaded 95674 tweets
Downloaded 95745 tweets

NameError: name 'tweepy' is not defined

___

In [36]:
df.head()

,author,content,region,following,followers,updates,post_type,account_type,retweet,account_category
date_published,,,,,,,,,,
2017-10-01 19:58:00,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,1052,9636,253,NaN,Right,0,RightTroll
2017-10-01 22:43:00,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,1054,9637,254,NaN,Right,0,RightTroll
2017-10-01 22:50:00,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,1054,9637,255,RETWEET,Right,1,RightTroll
2017-10-01 23:52:00,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,1062,9642,256,NaN,Right,0,RightTroll
2017-10-01 02:13:00,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,1050,9645,246,RETWEET,Right,1,RightTroll

### Notes on Making New Extracted Tweets Match Russian Troll Tweet Database

- Columns to be renamed/reformatted to match troll tweets:
    - created_at -> 'date_published'-> index
    - full_text -> 'content'
    - df['user'].
        - .['followers_count'] -> 'following'
        - .['followers_count'] -> 'followers'
        - .['screen_name'] -> 
        - .['id'] ->
- Columns missing from original troll tweets (to be removed).
    -coordinates, favorited, favorite_count, display_text_range, withheld_in_countries

In [34]:
df_tweets_ats = pd.read_json('tweets_for_top3_ats.txt', lines=True)

In [37]:
df_tweets_ats.user[0]

{'contributors_enabled': False,
 'created_at': 'Sat Apr 06 22:35:56 +0000 2019',
 'default_profile': True,
 'default_profile_image': True,
 'description': 'Trump Hater',
 'entities': {'description': {'urls': []}},
 'favourites_count': 0,
 'follow_request_sent': None,
 'followers_count': 0,
 'following': None,
 'friends_count': 0,
 'geo_enabled': False,
 'has_extended_profile': False,
 'id': 1114658021785919488,
 'id_str': '1114658021785919488',
 'is_translation_enabled': False,
 'is_translator': False,
 'lang': 'en',
 'listed_count': 0,
 'location': '',
 'name': 'Jimmy',
 'notifications': None,
 'profile_background_color': 'F5F8FA',
 'profile_background_image_url': None,
 'profile_background_image_url_https': None,
 'profile_background_tile': False,
 'profile_image_url': 'http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png',
 'profile_image_url_https': 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png',
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'protected': False,
 'screen_name': 'Draftdodgingdon',
 'statuses_count': 11,
 'time_zone': None,
 'translator_type': 'none',
 'url': None,
 'utc_offset': None,
 'verified': False}

In [35]:
df_tweets_ats.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user,withheld_in_countries
0,NaN,None,2019-06-02 18:34:59,"[0, 202]","{'hashtags': [{'indices': [48, 66], 'text': 'd...",NaN,0,False,@realDonaldTrump it’s perfectly reasonable tha...,None,...,NaN,NaN,NaN,0,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'contributors_enabled': False, 'created_at': ...",NaN
1,NaN,None,2019-06-02 18:34:59,"[0, 139]","{'hashtags': [], 'symbols': [], 'urls': [], 'u...",NaN,0,False,RT @BelkissObadia: BREAKING NEWS: \n\n@realDon...,None,...,NaN,NaN,NaN,950,False,"{'contributors': None, 'coordinates': None, 'c...","<a href=""http://twitter.com/download/android"" ...",False,"{'contributors_enabled': False, 'created_at': ...",NaN
2,NaN,None,2019-06-02 18:34:59,"[17, 207]","{'hashtags': [], 'symbols': [], 'urls': [], 'u...",NaN,0,False,@realDonaldTrump I thought you were supposed t...,None,...,NaN,NaN,NaN,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",False,"{'contributors_enabled': False, 'created_at': ...",NaN
3,NaN,None,2019-06-02 18:34:59,"[0, 139]","{'hashtags': [], 'symbols': [], 'urls': [], 'u...",NaN,0,False,RT @realDonaldTrump: Mexico is sending a big d...,None,...,NaN,NaN,NaN,3128,False,"{'contributors': None, 'coordinates': None, 'c...","<a href=""http://twitter.com/#!/download/ipad"" ...",False,"{'contributors_enabled': False, 'created_at': ...",NaN
4,NaN,None,2019-06-02 18:34:59,"[0, 139]","{'hashtags': [], 'symbols': [], 'urls': [], 'u...",NaN,0,False,RT @realDonaldTrump: Mexico is sending a big d...,None,...,NaN,NaN,NaN,3128,False,"{'contributors': None, 'coordinates': None, 'c...","<a href=""http://twitter.com/download/android"" ...",False,"{'contributors_enabled': False, 'created_at': ...",NaN

In [ ]:
df_tweets_ats['date_published'] = pd.to_datetime(df_tweets['created_at'])

In [ ]:
df_tweets_ats['date_published'].min(), df_tweets['date_published'].max()